@model Labores.Entities.Material

  <div class="display-label">
         @Html.DisplayNameFor(model => model.Nombre)
    </div>
 <div class="display-field">
        @Html.DisplayFor(model => model.Nombre)
    </div>
 <div class="display-label">
         @Html.DisplayNameFor(model => model.Cantidad)
    </div>
 <div class="display-field">
        @Html.DisplayFor(model => model.Cantidad)
    </div>